<div class="task-sticker">
  <a class="task-sticker-move-left glyphicon glyphicon-chevron-left"></a>
  <a class="task-sticker-move-right glyphicon glyphicon-chevron-right"></a>
  <div class="task-sticker-title">
    <h5 title="{{name}}"><a>{{name}}</a></h5>
  </div>
  <div class="task-sticker-content" title='{{assignee}}'>
    <span class="task-sticker-assignee-icon"></span>
    {{assignee}}
  </div>
</div>
