<div class="modal-header">
  <div class="modal-title">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="modal-body">
  <form id="statusPopupForm" name="statusForm"
        class="form-horizontal"
        action="javascript:" ng-submit="save()" novalidate>
    <div class="form-group">
      <label class="control-label" for="order">Order</label>
      <div class="form-input">
        <input id="order" type="number"
               class="form-control"
               ng-model="model.order" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="statusName">Name</label>
      <div class="form-input">
        <input id="statusName" type="text"
               class="form-control"
               ng-model="model.name" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="statusCode">Code</label>
      <div class="form-input">
        <input id="statusCode" type="text"
               class="form-control"
               ng-model="model.code" required/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Style</label>
      <div class="form-input">
<!--
        <input id="statusColor" type="text"
               class="form-control"
               ng-model="model.cssClass"/>
-->
        <div class="btn-group">
          <label class="btn btn-default"
                 ng-model="model.cssClass"
                 btn-radio="'default'">Default</label>
          <label class="btn btn-info"
                 ng-model="model.cssClass"
                 btn-radio="'info'">Info</label>
          <label class="btn btn-primary"
                 ng-model="model.cssClass"
                 btn-radio="'primary'">Primary</label>
        </div>
        <div class="btn-group">
          <label class="btn btn-success"
                 ng-model="model.cssClass"
                 btn-radio="'success'">Success</label>
          <label class="btn btn-warning"
                 ng-model="model.cssClass"
                 btn-radio="'warning'">Warning</label>
          <label class="btn btn-danger"
                 ng-model="model.cssClass"
                 btn-radio="'danger'">Danger</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer"
     ng-if="!isConfirmingDeleting">
  <button class="delete-button" type="button"
          ng-if="!isNew" ng-click="confirmDeleting()">Delete</button>
  <button class="cancel-button" type="button"
          ng-click="cancel()">Cancel</button>
  <button class="save-button" form="statusPopupForm"
          ng-if="!saveStatus" ng-disabled="statusForm.$invalid">Save</button>
  <button class="saving-button" type="button"
          ng-if="saveStatus === 'saving'" disabled>Saving&hellip;</button>
  <button class="retry-button" form="statusPopupForm"
          ng-if="saveStatus === 'failed'"
          ng-disabled="statusForm.$invalid">Failed! Click to Retry</button>
</div>
<div class="popup-delete-prompt modal-footer"
     ng-if="isConfirmingDeleting">
  <button class="cancel-button" type="button"
          ng-click="cancelDeleting()">Don't do this</button>
  <button type="button" class="delete-button"
          ng-if="!deleteStatus"
          ng-click="delete()">Confirm to delete</button>
  <button type="button" class="saving-button" disabled
          ng-if="deleteStatus === 'saving'"
          ng-click="delete()">Deleting&hellip;</button>
  <button type="button" class="delete-button"
          ng-if="deleteStatus === 'failed'"
          ng-click="delete()">Failed! Click to Retry</button>
</div>
