<div class="task-sticker panel panel-{{class}}">
  <a class="task-sticker-move-left glyphicon glyphicon-chevron-left"
      ng-click="moveLeft()"></a>
  <a class="task-sticker-move-right glyphicon glyphicon-chevron-right"
      ng-click="moveRight()"></a>
  <div class="task-sticker-title">
    <h5 title="{{task.name}}">
      <a ng-click="editTask(task)">{{task.name}}</a>
    </h5>
  </div>
  <div class="task-sticker-content" title="{{task.assignee || 'unassigned'}}">
    <span class="task-sticker-assignee-icon"></span>
    {{task.assignee || 'unassigned'}}
  </div>
</div>
