%section#board.agile-board
  %section#op-col.agile-board-col
    %h3 Open
    %ul
  %section#ip-col.agile-board-col
    %h3 In Progress
    %ul
  %section#sh-col.agile-board-col
    %h3 In SH Server
    %ul
  %section#dev-col.agile-board-col
    %h3 In Dev Branch
    %ul
