@import '../lib/bootstrap-sass-official/assets/stylesheets/bootstrap'
@import "compass/css3/transition"

$columns: 12
$statuses: 4
$col-pre-status: $columns / $statuses

#page-notifications
  @extend .container
  overflow-y: visible
  height: 0
  > div
    +make-row()
    > .alert
      +make-xs-column(10)
      +make-xs-column-offset(1)
      float: none
      padding-right: 35px

#main-navbar
  @extend .navbar
  @extend .navbar-default
  +clearfix
  > .container
    position: relative
    > .navbar-header
      > h1
        @extend .navbar-brand
        margin:
          top: 0
          bottom: 0
        > a
          color: inherit
          text-decoration: none
    > .navbar-secondary
      @extend .collapse
      @extend .navbar-collapse
      float: left
      > ul
        @extend .nav
        @extend .navbar-nav
    > .navbar-toolbar
      @extend .navbar-header
      float: right
      position: absolute
      right: 10px
      top: 0
      margin:
        right: 0
      > button
        margin-left: 10px
      > button.add-button
        @extend .btn
        @extend .btn-primary
        @extend .navbar-btn
        @extend .navbar-right
        > .button-icon
          @extend .glyphicon
          @extend .glyphicon-pencil
      > button.refresh-button
        @extend .btn
        @extend .btn-info
        @extend .navbar-btn
        @extend .navbar-right
        > .button-icon
          @extend .glyphicon
          @extend .glyphicon-refresh


.agile-board
  +make-row

  .agile-board-col
    +make-xs-column($col-pre-status)
    > ul
      list-style: none
      margin: 0
      padding: 0

    &:first-child
      .task-sticker
        > .task-sticker-move-left
          display: none
    &:last-child
      .task-sticker
        > .task-sticker-move-right
          display: none

  .task-sticker
    position: relative
    > .task-sticker-title
      @extend .panel-heading
      padding:
        left: 30px
        right: 30px
      > h5
        margin: 0
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        > a
          display: inline-block
          color: inherit
          cursor: pointer
          width: 100%
    > .task-sticker-content
      @extend .panel-body
      color: silver
      font-size: 90%
      padding:
        left: 30px
        right: 30px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      .task-sticker-assignee-icon
        @extend .glyphicon
        @extend .glyphicon-user
        margin-right: 10px
    > .task-sticker-move-left, .task-sticker-move-right
      @extend .glyphicon
      +single-transition(opacity, 0.2s)
      position: absolute
      width: 20px
      height: 86px
      line-height: 119px
      text-align: center
      top: 1px
      opacity: 0.2
      &:hover
        cursor: pointer
        text-decoration: none
        opacity: 1
    > .task-sticker-move-left
      @extend .glyphicon-chevron-left
      left: 0
    > .task-sticker-move-right
      @extend .glyphicon-chevron-right
      right: 0

.popup
  .modal-header
    .modal-title
      h1
        margin: 0
        font-size: 120%
  .modal-body
    form
      > .form-group
        > label
          +make-xs-column(4)
        > .form-input
          +make-xs-column(6)
          .btn-group
            .btn
              width: 84px
  .modal-footer
    button
      @extend .btn
    .delete-button
      @extend .btn-danger
      float: left
    .save-button
      @extend .btn-primary
    .saving-button
      @extend .btn-info
    .retry-button
      @extend .btn-danger
    .cancel-button
      @extend .btn-default
  .popup-delete-prompt
    button
      text-transform: uppercase
    .delete-button
      @extend .btn-danger
      float: right
    .cancel-button
      @extend .btn-default
      float: left
