!!!
%html{lang: 'zh-CN', ng: {app: 'simplestKanban'}}
  %head
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: 'css/app.css'}
    %title Simplest Kanban

    / build:js js/libs.min.js
    %script{src: 'lib/jquery/dist/jquery.js'}
    %script{src: 'lib/lodash/dist/lodash.js'}
    %script{src: 'lib/bootstrap-sass-official/assets/javascripts/bootstrap.js'}
    %script{src: 'lib/angular/angular.js'}
    %script{src: 'lib/angular-bootstrap/ui-bootstrap.js'}
    %script{src: 'lib/angular-bootstrap/ui-bootstrap-tpls.js'}
    %script{src: 'lib/angular-ui-router/release/angular-ui-router.js'}
    %script{src: 'lib/restangular/dist/restangular.js'}
    / endbuild

    / build:js js/app.min.js
    %script{src: 'js/application.js'}
    %script{src: 'js/configurations/restangular.js'}
    %script{src: 'js/services/tasks.js'}
    %script{src: 'js/services/assignees.js'}
    %script{src: 'js/controllers/application.js'}
    %script{src: 'js/controllers/board.js'}
    %script{src: 'js/controllers/assignees.js'}
    %script{src: 'js/controllers/help.js'}
    %script{src: 'js/router.js'}
    / endbuild

  %body
    #page{ui:{view: true}}
