doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/index.css')
    title Simplest Kanban
  body
    #page
    script(src='lib/requirejs/require.js', data-main='js/index')
