doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/index.css')
    title Simplest Kanban
  body
    #page
    // build:js js/libs.min.js
    script(src='lib/jquery/jquery.js')
    script(src='lib/lodash/lodash.underscore.js')
    script(src='lib/backbone/backbone.js')
    script(src='lib/lodash/lodash.js')
    script(src='lib/handlebars/handlebars.runtime.js')
    script(src='lib/bootstrap-sass-official/js/bootstrap.js')
    // endbuild

    // build:js js/tpls.min.js
    script(src='tpls/helpers.js')
    script(src='tpls/tpls.js')
    // endbuild

    // build:js js/index.min.js
    script(src='js/config/config.js')
    script(src='js/models/base.js')
    script(src='js/models/task.js')
    script(src='js/collections/base.js')
    script(src='js/collections/tasks.js')
    script(src='js/views/tasks/task_popup.js')
    script(src='js/views/tasks/task_sticker.js')
    script(src='js/views/index.js')
    script(src='js/routers/base.js')
    script(src='js/routers/index.js')
    script(src='js/index.js')
    // endbuild
